[Unit]
Description=Runs the minetest server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=minetestrunner
Group=minetestrunner
ExecStart=/usr/bin/minetest --server --config /home/minetestrunner/.minetest/worlds/world/world.mt

[Install]
WantedBy=multi-user.target
